.modal {
  position: fixed;

  box-sizing: border-box;
  padding: 0;
  max-height: 80%;
  max-width: 80%;

  box-shadow: $box-shadow;
  border-radius: 16px;
  background-color: $bg-white;
  border-width: 0;
  outline: none;

  &[open] {
    animation: show 250ms ease forwards;

    &.modal--closing {
      animation: hide 150ms ease forwards;
    }
  }

  &::backdrop {
    position: fixed;
    top: -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;

    background-color: rgba($color: $bg-black, $alpha: 0.4);
    backdrop-filter: blur(5px);

    animation: none;
  }

  & .modal__container {
    box-sizing: border-box;
    min-height: 50px;
    min-width: 50px;
    padding: 20px;
    padding-top: 50px;
  }

  & &__button {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 20px;
    height: 20px;
    padding: 0;

    color: $text-accent;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;

    &:hover {
      color: $text-accent-hover;
    }

    &:hover {
      color: $text-accent-active;
    }
  }
}

@keyframes show {
  from {
    transform: translateY(min(100px, 5vh));

    opacity: 0;
  }

  to {
    transform: translateY(0%);

    opacity: 1;
  }
}

@keyframes hide {
  from {
    transform: translateY(0%);

    opacity: 1;
  }

  to {
    transform: translateY(min(100px, 5vh));

    opacity: 0;
  }
}
